
* {
    color: rgb(91, 90, 90);
}

.trainHeader {
    height: 300px;
    border-radius: 0;
    background-image: url("../images/trainImg.jpg");
    background-repeat: no-repeat;
    margin-bottom: 0;
}
.timeText {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
}

#currentTime {
    font-family: 'Scope One', serif;
    font-size: 1.50rem;
}

.time {
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
}

.card-header {
    background-color: #c0d4de;
    font-family: 'Playfair Display', serif;

}

.card-body {
    font-family: 'Raleway', sans-serif;
}

::placeholder {
    color: lightgrey !important;
}

.delete {
    font-size: 1.5rem;
    margin-top: 0;
}

button {
    background-color: #c0d4de;
    font-family: 'Playfair Display', serif;
}